# Verification

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**application_id** | **string** |  | [optional] 
**attempted_hash** | **string** |  | [optional] 
**audit_log_entry_id** | **string** |  | [optional] 
**created** | [**\DateTime**](\DateTime.md) |  | [optional] 
**failure** | **string** |  | [optional] 
**id** | **string** |  | [optional] 
**type** | **string** |  | [optional] 

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


